/* Breakpoints */
$xxxl: 2800px;
$xxl: 1800px;
$xl: 1200px;
$l: 992px;
$m: 768px;
$s: 600px;
$xs: 400px;

/* Colours */

$lred: hsl(0, 68%, 50%);
$red: hsl(0, 68%, 40%);
$dred: hsl(0, 68%, 20%);
$lblue: hsl(240, 24%, 30%);
$blue: hsl(240, 24%, 20%);
$dblue: hsl(240, 24%, 17%);
$xdblue: hsl(240, 24%, 15%);


/*new colours */

$white: hsl(0, 0%, 100%);
$lavender-grey: hsl(258, 11%, 80%);
$llavender-grey: hsl(258, 11%, 90%);
$violet: hsl(261, 56%, 15%);
$dviolet: hsl(261, 56%, 13%);
$xdviolet: hsl(261, 56%, 11.5%);
