/* Breakpoints */
$xxxl: 2800px;
$xxl: 1800px;
$xl: 1200px;
$l: 992px;
$m: 768px;
$s: 600px;
$xs: 400px;

/* Colours */
$red: #b32222;
$dred: #662525;
$blue: #282841;
$blue-grey: #232330;
$dblue-grey: #212130;
$xdblue-grey: #1c1c27;