/* Breakpoints */
$xxxl: 2800px;
$xxl: 1800px;
$xl: 1200px;
$l: 992px;
$m: 768px;
$s: 600px;
$xs: 400px;


/*colours */

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$lavender-grey: hsl(258, 11%, 80%);
$llavender-grey: hsl(258, 11%, 90%);
$dlavender-grey: hsl(258, 11%, 50%);

$rich-black: hsl(207, 95%, 8%);
$lrich-black: hsl(207, 95%, 10%);
